
/* Lebenslauf */

.ul-cv, .li-cv {
  list-style: none;
  padding: 0;
}

.container-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  /*
  padding: 0 1rem;
  padding: 3rem 0;
  */
  margin: 3em;
  text-align: start;
}

.wrapper-cv {
  background: #937BFF;
  padding: 2rem;
  border-radius: 15px;
}

.h1-cv {
  font-size: 1.1rem;
  font-family: sans-serif;
}

.sessions {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}

.li-cv {
  padding-bottom: 1.5rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}

.li-cv:last-child {
  border: 0px;
  padding-bottom: 0;
}

.li-cv:before {
  content: '';
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #4e5ed3;
  box-shadow: 3px 3px 0px #bab5f8;
  box-shadow: 3px 3px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}

.time-cv {
  color: #2a2839;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}



.p-cv {
  color: #4f4f4f;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top: 0.4rem;
}


/*Lebenslauf Download*/
#test{
  
  width: 25em;
  height: 25em;
}

